section {
    width: 520px;
}

@media print, screen and (max-width: 960px) {
    section {
        width: 100%;
    }
}

/* Specific styling for the logo image if you want a custom size */
.logo-image {
    width: 200px; /* Adjust this size as per your requirement */
    height: auto; /* Maintains the aspect ratio */
}