.header-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    overflow-y: auto;
    position: fixed;
}

@media print, screen and (max-width: 960px) {
    .header-wrapper {
        position: relative;
        width: fit-content;
        height: 100%;
        overflow-y: auto;
        position: fixed;
    }
}