<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/styles.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
        <header>
            <!--        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>-->
            {% if site.logo %}
            <img src="{{site.logo}}" alt="Joint Research Labs funded by Nanyang Technological University and Becton Dickinson" style="margin-bottom: 20px; width: 100px;" />
            {% endif %}
            <p>{{ site.description }}</p>
            <h3>Leadership and Team</h3>
            <p><span style="font-weight: bold">Program Lead / PI:</span> Suhwan Chung (BD), Professor Jagath Rajapakse (NTU)</p>
            <p><span style="font-weight: bold">Steering Committee (BD):</span> Min Yuan Seow, Raymond Chow, Paul Holt</p>
            <p><span style="font-weight: bold">Project Team:</span> Sally Shen, Justin Lau, Ying Nan, Wan Sian, Gary Chong, Kenneth Lim, Rebecca Neiw, Kavi Lognathan, Meeyee Wong, ChungSoo Ahn, Yousheng, Tziyong, Raghav Mantri</p>
            <br/>
<!--            <p>-->
<!--                <span style="color: #337da8; line-height: 1.1rem; font-weight: bold;">Raymond Chow</span>-->
<!--                <br/>-->
<!--                <span style="font-style: italic;">(VP/GM, Central Asia)</span>-->
<!--            </p>-->
<!--            <p>-->
<!--                BD and NTU have had numerous partnerships wherein most of these, BD has been providing technology eg. flow cytometry for research. For this collaboration, it will be NTU sharing their expertise in machine learning and helping work out a solution for how we can optimally predict and forecast products for manufacture and distribution-->
<!--            </p>-->
<!--            <p>-->
<!--                <span style="color: #337da8; line-height: 1.1rem; font-weight: bold;">Min Yuan Seow</span>-->
<!--                <br/>-->
<!--                <span style="font-style: italic;">(VP Global Logistics & Distribution)</span>-->
<!--            </p>-->
<!--            <p>-->
<!--                The collaboration will help accelerate BD’s plan to build expertise in-house. It will also expose BD associates to best-in-class of data science research. I look forward to this collaboration to enhance the quality of our sales and operations planning that will greatly enhance BD’s competitiveness.-->
<!--            </p>-->
            <a href="/">Home</a><br/>
            <a href="/data-architecture-and-infrastructure">Data Architecture and Infrastructure</a><br/>
            <a href="/machine-learning">Machine Learning</a><br/>
            <a href="/adoption-and-change-management">Adoption & Change Management</a>
            <span style="margin-bottom: 20px;"></span>
            <br/>
            <!--        {% if site.github.is_project_page %}-->
            <!--        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>-->
            <!--        {% endif %}-->
            <!--        {% if site.github.is_user_page %}-->
            <!--        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>-->
            <!--        {% endif %}-->
            <!--        {% if site.show_downloads %}-->
            <!--        <ul class="downloads">-->
            <!--          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>-->
            <!--          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>-->
            <!--          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>-->
            <!--        </ul>-->
            <!--        {% endif %}-->
        </header>

      <section>

      {{ content }}

      </section>
<!--      <footer>-->
<!--&lt;!&ndash;        {% if site.github.is_project_page %}&ndash;&gt;-->
<!--&lt;!&ndash;        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;        {% endif %}&ndash;&gt;-->
<!--        <p>© Copyright 2022-2023 <a href="https://datameka.com/">DATAMEKA PTE. LTD.</a> All rights reserved </p>-->
<!--      </footer>-->
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
